svivy.ru {
		
	handle /coursework {
		root * /var/www/static
		rewrite * /coursework.pdf
		file_server
	}

	handle /cousework/* {
		root * /var/www/static
		file_server
	}

	handle /api/* {
                reverse_proxy backend:8080
        }	

	handle {
		reverse_proxy frontend:80
	}

}
